@using WebUI.domain.Controllers;
@model List<AppRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Role Manager</h1>

<a  class="btn btn-info" asp-action="AddRole" asp-controller="Role">Click Here to add a new Role</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Date Created</th>
            <th>Creator</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>@role.CreatedAt</td>
                <td>@role.CreatedBy</td>
                <td><a asp-controller="Role" asp-action="UpdateRole" asp-route-id="@role.Id" class="btn btn-info">Update</a></td>
                <td><a asp-controller="Role" asp-action="DeleteRole" class="btn btn-info" asp-route-id="@role.Name">Delete</a></td>
            </tr>
        }
    </tbody>
</table>



