@model User
@using Microsoft.AspNetCore.Identity
@inject UserManager<User>  userManager
@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>Name : @Model.FullName</h1>
    <h1>Email : @Model.Email</h1>
    <h1>Date Created : @Model.CreatedAt</h1>
    <h1>Creator : @Model.CreatedBy</h1>

    <section style=@(@User.IsInRole("SuperAdmin")? "display:block": "display:none")>
        <h1>
            <a class="btn btn-primary text-center" asp-controller="Role" asp-action="Index">Manage Roles</a>
            <a class="btn btn-primary text-center" asp-controller="Account" asp-action="ViewAll">Manage Users</a>
        </h1>
    </section>

    <section style=@(@User.IsInRole("Customer")? "display:block": "display:none")>
        <h1>
            <a class="btn btn-primary text-center" asp-controller="Transaction" asp-action="Transfer">Transfer</a>
            <a class="btn btn-primary text-center" asp-controller="Transaction" asp-action="Withdraw">Withdraw</a>
            <a class="btn btn-primary text-center" asp-controller="Transaction" asp-action="Deposit">Deposit</a>
            <a class="btn btn-primary text-center" asp-controller="Transaction" asp-action="Index">Transaction History</a>
        </h1>
    </section>

</div>
   
