@using WebUI.domain.Middlewares
@model List<WebUI.domain.Models.AccountControllerModels.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="homePage-start">Users</h1>
<div>
    <a class="btn btn-primary" asp-controller="Account" asp-action="EnrollUser">Add User</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="EnrollCustomer">Add Customer</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Roles</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.UserId</td>
            <td>@user.UserName</td>
            <td>@user.FullName</td>
            <td>
                @string.Join(',', user.Roles.ToList());
            </td>
            <td>@user.Email</td>

            <td>
                <a class="btn btn-primary" asp-controller="Role" asp-action="ManageUserRole" asp-route-userId="@user.UserId">Manage Roles</a>
            </td>
            <form method="post" asp-action="DeleteUser" asp-route-id="@user.UserId">
            <td> <a asp-controller="Account" asp-action="UpdateUser" asp-route-id="@user.UserId" class="btn btn-primary">Update </a> </td>
            <td><button type="submit" class="btn text-danger">Delete</button></td>
            </form>
        </tr>
        }
    </tbody>
</table>